body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    background: #FDFCEF;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 700;
    line-height: 1.4em;
}

p {
    margin: 0;
    line-height: 1.37em;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
    text-align: center;
}

section {
    padding-top: 120px;
}



.header {
    padding-top: 82px;
}

.logo {
    display: block;
}

.offer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 79px;
}

.offer {
    width: 465px;
}

.introtext {
    max-width: 423px;
    font-size: 18px;
    margin: 30px 0px 60px 0px;
}

.btn {
    background: #FF6861;
    border-radius: 100px;
    color: #FFFFFF;
    padding: 22px 70px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    width: 218px;
    transition: all 0.5s ease;
}

.btn:hover {
    background: #FFD690;
}



.digits {
    display: flex;
    flex-direction: column;
    gap: 41px;
    width: 720px;
    margin: 70px auto 0 auto;
}

.digit-item {
    display: flex;
    align-items: center;
}

.digit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 34px;
}

.digit-title {
    font-size: 30px;
    margin-bottom: 11px;
}



.practice-wrap {
    background: linear-gradient(102deg, #FFF6DF 17.38%, #FFDFDE 81.25%);
    border-radius: 60px;
    display: flex;
    align-items: center;
    padding: 93px 168px 89px 122px;
}

.ladybug {
    margin-left: 101px;
    order: 1;
}

.practice-block {
    width: 432px;
}

.practice-title {
    text-align: left;
}

.practice-text {
    margin: 24px 0 48px 0;
    width: 371px;
}



.footer {
    padding: 120px 0;
    text-align: center;
    font-size: 15px;
}